body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    padding: 0;
    margin: 0;
    height: 120px;
    width: 120px;
    left: -155px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: larger;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fef0D6;
}

html, body {
    height: 100%;
    width: 100%;
}

#proName {
    font-weight: bold;
    font-size: 32px;
}

.left-side-bar {
    background-color: #fef0D6;
    color: #57422D;
    height: 100%;
    width: 220px;
    position: fixed;
    left: -195px;
    transition: left .3s;
    /* 태그의 우선순위를 정함, 사이드 바가 다른 div 위로 올라오도록 설정 */
    z-index: 1;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
    padding-top: 23px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}
/* 메뉴에 마우스 올렸을 때 바뀌는 색깔 */
.left-side-bar ul > li:hover > a {
    background-color: #F0EAD4;
    color: #57422D;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}

.content-area {
    height: 100%;
    width: 100%;
    margin-left: 25px;
    display: flex;
}

.list-shop {
    background-color: white;
    height: 100%;
    width: 400px;
    padding-left: 25px;
    padding-right: 25px;
}
.list-shop > div {
    background-color: white;
    width: 350px;
}
/* 
    지도의 크기는 들어가는 콘텐츠의 크기만큼 설정됨
    지도 div의 위치는 list-shop의 위치와 상대적인 위치
*/
.map{
    height: 100%;
    /* width: max-content; */
    /* width: fit-content; */
    width: 100%;
    background-color: lightgray;
}

/* 카테고리 - 드롭다운 */
/* 화면이 움직여도 오른쪽 상단에 고정되도록 함 : position: absolute; 로 바꾸면 화면이 움직이면 안보임*/
.dropdown {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

.dropdown > ul {
    background: rgba(255, 255, 255, 0.473);
}

/* 버튼 설정 : 배경색과 테두리 없앰*/
#dropdownMenuButton1 {
    background-color: transparent;
    border: none;
    color: #57422D;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-item {
    font-weight: bolder;
    color: #272525;
    border: none;
}

.list-shop-content {
    border-bottom: #272525;
    padding-bottom: 5px;
}

.list-shop-content > h5{
    text-align: center;
}

pre {
    white-space: pre-wrap;
}