{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 부트스트랩 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "common.css"%}?after'>
    <meta charset="UTF-8">
    <title>PET DADA</title>
</head>
<body>
    <!-- 사이드 바 -->
    <div class="left-side-bar">
        <div class="status-ico">
            <span>▶</span>
            <span>▼</span>
        </div>
        
        <ul>
            <img id="logo" src='{% static  "logo.png"%}'/>
            <h2 id="proName">PET DADA</h2>
            <li>
                <a href="#">마이페이지</a>
                <ul>
                    <li><a href="#">2차 메뉴 아이템1</a></li>
                    <li><a href="#">2차 메뉴 아이템2</a></li>
                    <li><a href="#">2차 메뉴 아이템3</a></li>
                    <li><a href="#">2차 메뉴 아이템4</a></li>
                    <li><a href="#">2차 메뉴 아이템5</a></li>
                </ul>
            </li>
            <li>
                <a href="#">게시판</a>
                <ul>
                    <li><a href="#">2차 메뉴 아이템1</a></li>
                    <li><a href="#">2차 메뉴 아이템2</a></li>
                    <li><a href="#">2차 메뉴 아이템3</a></li>
                    <li><a href="#">2차 메뉴 아이템4</a></li>
                    <li><a href="#">2차 메뉴 아이템5</a></li>
                </ul>
            </li>
            <li>
                <a href="#">로그인</a>
                <ul>
                    <li><a href="#">2차 메뉴 아이템1</a></li>
                    <li><a href="#">2차 메뉴 아이템2</a></li>
                    <li><a href="#">2차 메뉴 아이템3</a></li>
                    <li><a href="#">2차 메뉴 아이템4</a></li>
                    <li><a href="#">2차 메뉴 아이템5</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 가게 목록 -->
    <div class="content-area">
        <div class="list-shop" id="list-view">
            <br>
            <!-- 가게 목록~~ -->
            <!-- <img src="/main/static/cafe_belive.jfif"> -->
            <!-- <img src="{% static 'cafe_belive.jfif' %}"> -->
        </div>
        <!-- 지도 -->
        <div class="map">
            지도/////////////////////
        </div>
    </div>

    <!-- 카테고리 -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          카테고리
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" id="1" onclick="show_list(this.id)">식당</a></li>
          <li><a class="dropdown-item" id="2" onclick="show_list(this.id)">카페</a></li>
          <li><a class="dropdown-item" id="3" onclick="show_list(this.id)">병원</a></li>
          <li><a class="dropdown-item" id="4" onclick="show_list(this.id)">백화점</a></li>
          <li><a class="dropdown-item" id="5" onclick="show_list(this.id)">반려용품 가게</a></li>
          <li><a class="dropdown-item" id="6" onclick="show_list(this.id)">공원</a></li>
          <li><a class="dropdown-item" id="7" onclick="show_list(this.id)">미용</a></li>
          <li><a class="dropdown-item" id="8" onclick="show_list(this.id)">숙박시설</a></li>
        </ul>
      </div>

      <!-- 부트스트랩 js -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
      <!-- ajax : GET -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </body>

    <script>
        function show_list(clicked_id) {
            const ajax = fetch('/main/req/get/?key='+clicked_id,{
                method: 'post',
                headers: {'Content-Type': 'application/json'},
            
            });
            ajax.then(function (response) {
                return response.text();
            }).then(function (result) {
                console.log("Log: ", result);
                console.log(logo);

                var view = document.getElementById('list-view');
                view.innerHTML = result;

                var img = document.getElementById('store-image');
                console.log(img);
            });
        }

    </script>
</html>